@import url('https://fonts.googleapis.com/css2?family=Acme&family=Lobster&family=Patua+One&family=Rubik:wght@400;500;600;700;800;900&family=Sniglet:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700;800;900&display=swap');
*{
    box-sizing: border-box;
}
header,
section{
    overflow-x : hidden;
}
:root{
    --montserrat:"Montserrat",cursive;
    --hind:"Hind", cursive;
    --lightblack: #2e2c2caf;
    --bggradient:#046aa5;
    --light-gray:rgba(255,255,255,0);
}
header a{
    font-family: var(--montserrat);
    font-size: 1em;
    color: rgba(0, 0, 0, 0.815);
    transition: all .5s ease-in;
    font-weight: bold;
}
header a:hover{
    color: #5D32F9;  
}
header .navbar{
    background: #F9dd32;
}
header{
    background-image: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)),
    url(../assets/bg-1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
header .nav-item:last-child{
    padding-right: 10.5em;
}
header .nav-item{
    padding: 0.9em;
}
header .navbar-brand{
    padding-left: 8rem;
}
header .navbar-brand img{
    height: inherit;
    width: 4.5rem;
}
header{
    position: relative;
    height: 100vh;
}
header .container .home-hero{
    width: 90%;
    position: absolute;
    top: 40vmin;
    color: white;
}
header .container .home-hero h5{
    font-size: 5vmin;
    padding: .7vmin;
    letter-spacing: 1px;
}
header .container .home-hero h1{
    font-size: 10vmin;
    font-weight: bold;
    padding: 0.1em 0em;
}
header .container .home-hero a{
    background-color: #F9dd32;
    border: 2px solid #F9dd32;
    font-weight: bold;
    box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.2);
    transition: all .5s ease-in;
}
header .container .home-hero a:hover{
    background-color: #5D32F9;
    color: white;
    border: 2px solid #5D32F9;
}
.section-1{
    padding: 20vmin 0;
}
.section-1 .row .col-md-6 .pray img{
    opacity: 0.8;
    width: 105%;
    border-radius: 0.2em;
    border: 2px solid #5D32F9;
    padding: 2em;
}
.section-1 .row .col-md-6:last-child{
    position: relative;
}
.section-1 .row .col-md-6 .panel{
    position: absolute;
    top: 1.9vmin;
    left: -15vmin;
    background: white;
    text-align: left;
    padding: 13vmin 5vmin 20vmin 10vmin;
    box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
    font-family: var(--hind);
    z-index: 1;
}
.section-1 .row .col-md-6 .panel h1{
    font-weight: bold;
    padding: 0.4em 0;
    font-size: 2em;
}
.section-1 .row .col-md-6 .panel p{
    font-size: 0.9em;
    color: rgba(0, 0, 0, 0.5);
}
.section-1 .row .col-md-6 .panel a{
    background: none;
    border: 2px solid #5D32F9;
    font-weight: bold;
    box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.2);
    transition: all .5s ease-in;
}
.section-1 .row .col-md-6 .panel a:hover{
    border: 2px solid #F9dd32;
    background: #F9dd32;
    color: white;
}
.cover{
    width: 100%;
    height:70vmin;
    background: url(../assets/bg-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    position: relative;
}
.cover .content{
    background: rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 100%;
    padding-top: 19vmin;

}
.cover .content>h1{
    font-weight: bold;
    font-family: var(--montserrat);
    font-size: 6vmin;
    color: black;
}
.cover .content>p{
    font-family: var(--montserrat);
    font-size: 5vmin;
    color: black;
}
.numbers .rect{
    position: relative;
    z-index: 1;
    background: white;
    width: 17em;
    height: 12em;
    padding-top: 3.5vmin;
    margin: 1rem;
    border-radius: .5em;
    box-shadow: 1px 2px 50px 0px rgba(249, 50, 206, 0.4);
}
.numbers{
    margin-top: -15vmin;
}
.numbers .rect h1{
    font-size: 5rem;
    color: #F932CE;
}
.numbers .rect p{
    font-family: var(--Patua-font);
}
.purchase>h1{
    font-weight: bold;
    padding-top: 15vmin;
    padding-bottom: 1em;
    font-family: var(--montserrat);
}
.purchase .cards .card{
    width: 22rem;
    margin: 3vmin;
}
.cards div{
    padding: 0;
    margin: 0;
}
.cards .title{
    background: rgba(208, 94, 94, 0.199);
    padding: 1.4rem  2.5rem;
    font-size: 2vmin;
}
.cards .card-title{
    font-size: 5vmin;
    font-weight: bold;
}
.card  .card-text{
    padding: 2.5rem 3rem;
    color: var(--lightblack);
}
.section-3{
    padding: 10vmin;
    background-image: linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.2)),
    url(../assets/bg-3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}
.section-3 .container-fluid{
    padding: 1rem;
    width: 100%;
}
.section-3 .container-fluid h1{
    padding-top: 5vmin;
    padding-bottom: 1em;
    font-weight: bold;
    font-family: var(--montserrat);
}
.section-3 .use-case .rect{
    background: rgba(255,255, 255, .8);
    width: 13em;
    height: 10em;
    padding: 2vmin;
    margin: .5rem;
    border-radius: .5em;
    box-shadow: 1px 2px 50px 0px rgba(206, 249, 50, .349);

}
.section-3 .container-fluid a{
    margin: 2em 0;
    color: #5D32F9;
    background: none;
    border: 2px solid #5D32F9;
    font-weight: bold;
    box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.2);
    transition: all .5s ease-in;
}
.section-3 .container-fluid a:hover{
    border: 2px solid #F932CE;
    background: #F932CE;
    color: white;
}

footer{
    background: rgba(0, 0, 0, 0.815);
    padding: 14vmin 18vmin;
}
footer h1{
    color: white;
}
footer ul{
    list-style: none;
}
footer .icons ul li{
    color: #ccc;
}

footer ul li i{
    color: #ccc;
    padding: 0.1em 0;
}
footer .container-fluid .row .col-md-2 img{
    height: initial;
    width: 90%;
}
/* sticky */
.sticky{
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.815);
    z-index: 9999;
    transition: all 1.5s ease;
}
@media only screen and (max-width:768px){
    header .container .home-hero{
        top: 60vmin;
    }

    header .navbar{
        z-index: 9999;
    }
    header .navbar-brand{
        padding-left: 1rem;
    }
    header .navbar-brand img{
        height: inherit;
        width: 3rem;
    }
    header .container .home-hero h5{
        letter-spacing: .5px;
    }
    header .container .home-hero h1{
        font-size: 1.9rem;
    }
    header .container button{
        margin-top: 1rem;
    }
    .section-1 .row .col-md-6 .pray img{
        opacity: 0.8;
        width: 100%;
        border-radius: 0.2em;
        border: 2px solid #5D32F9;
        padding: 2em;
    }
    .section-1 .row .col-md-6 .panel{
        position: initial;
        width: initial;
        height: initial;
    }
    .section-2 .cover{
        background-position: -25vmin -10vmin;
    }
   
   
}
@media only screen and (max-width:425px){
    header .navbar-brand img{
        height: inherit;
        width: 3rem;
    }

    footer .row .icons{
        margin-top: 8vmin;
    }
    .section-1 .row .col-md-6 .panel{
        position: initial;
        width: initial;
        height: initial;
    }
}
