@import url('https://fonts.googleapis.com/css2?family=Acme&family=Lobster&family=Patua+One&family=Rubik:wght@400;500;600;700;800;900&family=Sniglet:wght@400;800&display=swap');

*{
    box-sizing: border-box;
}
header,
section{
    overflow-x : hidden;
}
:root{
    --Sniglet-font:"sniglet",cursive;
    --Rubik-font:"Rubik", cursive;
    --Lobster-font:"Lobster", cursive;
    --Patua-font:"Patua one", cursive;
    --lightblack: #2e2c2caf;
    --bggradient:#046aa5;
    --light-gray:rgba(255,255,255,0);
}
header a{
    font-family: var(--Rubik-font);
    font-size: 1em;
    color: #F9AD32;
    transition: all .5s ease-in;
}
header{
    background: var(--bggradient);
}
header .nav-item:last-child{
    padding-right: 10.5em;
}
header .nav-item{
    padding: 0.9em;
}
header .navbar-brand{
    padding-left: 8rem;
}
header .navbar-brand:hover{
    color: #F9DD32;
}
header .nav-link:hover{
    color: #F9DD32;
}
header .row .col-md-7{
    padding: 20vmin 1vmin;
    padding-bottom: 22vmin;
    font-family: var(--Rubik-font);
    color: white;
}
header .row .col-md-5{
    padding: 4.2vmin 1vmin;
}
header .row .col-md-5 img{
    width: 90%;
}
header .container .col-md-7 h6{
    padding: .7vmin;
    letter-spacing: 2px;
}
header .container .col-md-7 h1{
    font-size: 8vmin;
    font-weight: bold;
    padding: 0.1em 0em;
}
header .container .col-md-7 button{
    font-weight: bold;
    border-radius: 7px;
    border: none;
    transition: all .5s ease-in;
}
header .container .col-md-7 button:hover{
    border: 2px ;
    background-color: #F9AD32;
    color: white;
}
.section-1{
    padding: 20vmin 0;
}
.section-1 .row .col-md-6 .pray img{
    opacity: 0.8;
    width: 70%;
    border-radius: 0.2em;
    border: 2px solid #F9AD32;
    padding: 2em;
}
.section-1 .row .col-md-6:last-child{
    position: relative;
}
.section-1 .row .col-md-6 .panel{
    position: absolute;
    top: 10vmin;
    left: -23vmin;
    background: white;
    text-align: left;
    padding: 13vmin 5vmin 20vmin 10vmin;
    box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
    font-family: var(--Rubik-font);
    z-index: 1;
}
.section-1 .row .col-md-6 .panel h1{
    font-weight: bold;
    padding: 0.4em 0;
    font-size: 2em;
}
.section-1 .row .col-md-6 .panel p{
    font-size: 0.9em;
    color: rgba(0, 0, 0, 0.5);
}
.section-1 .row .col-md-6 .panel a{
    background: none;
    border: 2px solid #F9AD32;
    font-weight: bold;
    box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.2);
    transition: all .5s ease-in;
}
.section-1 .row .col-md-6 .panel a:hover{
    border: 2px solid #F9AD32;
    background: #F9AD32;
    color: white;
}
.cover{
    width: 100%;
    height:70vmin;
    background: url(../assets/client.jpg);
    background-position: -15rem -19rem;
    background-size: 150%;
    position: relative;
}
.cover .content{
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    padding-top: 19vmin;

}
.cover .content>h1{
    font-family: var(--Patua-font);
    font-size: 6vmin;
    color: whitesmoke;
}
.cover .content>p{
    font-family: var(--Patua-font);
    font-size: 3vmin;
    color: #e5e5e5;
}
.numbers .rect{
    position: relative;
    z-index: 1;
    background: white;
    width: 17em;
    height: 12em;
    padding-top: 3.5vmin;
    margin: 1rem;
    border-radius: .5em;
    box-shadow: 1px 2px 50px 0px rgba(255,0,0,0.349);
}
.numbers{
    margin-top: -15vmin;
}
.numbers .rect h1{
    font-size: 5rem;
    color: #F9AD32;
}
.numbers .rect p{
    font-family: var(--Patua-font);
}
.purchase>h1{
    padding-top: 15vmin;
    padding-bottom: 1em;
    font-family: var(--Lobster-font);
}
.purchase .cards .card{
    width: 22rem;
    margin: 3vmin;
}
.cards div{
    padding: 0;
    margin: 0;
}
.cards .title{
    background: rgba(208, 94, 94, 0.199);
    padding: 1.4rem  2.5rem;
    font-size: 2vmin;
}
.cards .card-title{
    font-size: 5vmin;
    font-weight: bold;
}
.card  .card-text{
    padding: 2.5rem 3rem;
    color: var(--lightblack);
}
.section-3{
    padding: 20vmin 0;
}
.section-3 .col-md-7{
    position: relative;
}
.section-3 .col-md-7 .slide-panel{
    position: absolute;
    top: 9vmin;
    right: -13vmin;
    background: white;
    text-align: left;
    padding: 13vmin 5vmin 20vmin 10vmin;
    box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
    font-family: var(--Rubik-font);
    z-index: 1;

}
.section-3 .col-md-7 .slide-panel h1{
    font-weight: bold;
    padding: 0.4em 0;
    font-size: 2em;
}
.section-3 .col-md-7 .slide-panel ul{
    list-style: none;
}
.section-3 .col-md-7 .slide-panel li{
    font-size: 0.9em;
    color: rgba(0, 0, 0, 0.5);

}
.section-3 .col-md-7 .slide-panel li::before{
    content: '✓';
    font-size: 1em;
    color: #046aa5;
    margin: .5em .3em;
    border-radius: .3em;
}
.section-3 .row .col-md-7 .slide-panel a{
    background: none;
    border: 2px solid #F9AD32;
    font-weight: bold;
    box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.2);
    transition: all .5s ease-in;
}
.section-3 .row .col-md-7 .slide-panel a:hover{
    background: #F9AD32;
    color: white;
    border: 2px solid #F9AD32;
}

.section-3 .col-md-5 img{
    opacity: 0.8;
    width: 80%;
    border-radius: 0.2em;
    border: 2px solid #F9AD32;
    padding: 2em;
}

footer{
    background: rgba(0, 0, 0, 0.815);
    padding: 14vmin 18vmin;
}
footer h1{
    color: white;
}
footer ul{
    list-style: none;
}
footer .icons ul li{
    color: #ccc;
}

footer ul li i{
    color: #ccc;
    padding: 0.1em 0;
}

/* sticky */
.sticky{
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.815);
    z-index: 9999;
    transition: all 1.5s ease;
}
@media only screen and (max-width:768px){
    header .navbar-brand{
        padding-left: 1rem;
    }
    header .container .col-md-7 h6{
        letter-spacing: 1px;
    }
    .section-1 .row .col-md-6 .panel{
        position: initial;
        width: initial;
        height: initial;
    }
    .section-2 .cover{
        background-position: -25vmin -10vmin;
    }
    .section-3 .row .col-md-7 .slide-panel{
        position: initial;
        width: initial;
        height: initial;

    }
   
}
@media only screen and (max-width:425px){
    footer .row .icons{
        margin-top: 8vmin;
    }
}
